.container {
    width : 50%;
    margin : auto;
}
comment {
    width: 100%;
    background: #f8f8f8;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    resize: none;
    padding: 8px;
    outline-color: #e6e6e6;
}

.btn {
    background-color: rgb(236, 236, 236); /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 6px 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
}
.btn:hover {
    text-decoration: underline;
}
li{
    list-style: none;
}

.commentWrite{
    width : 50%;
    margin : auto;
}

.comment_list{
    width : 50%;
    margin : auto;
}

.commentCnt{
    width : 50%;
    margin : auto;
    float: left;
}

.comment{
    background-color: rgb(236, 236, 236);
    border: none;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.commentMod{
    width: 95px;
    display: block;
    border: none;
    background-color: rgb(236, 236, 236);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    float: right;
}

.commentArea{
    background: #f8f8f8;
}

