body{background-color:white; margin: 0px;  }

.nav{display: flex; justify-content: space-between;
    text-decoration-line: none !important;
    background: linear-gradient(to bottom, navy,darkslateblue,indigo); color: white;
    background-size: 50px; height: 80px;
}

a {text-decoration-line: none !important; color: white;}

.title_logo {font-size: 30px; margin: 15px;
}

.list {display: flex; list-style: none;
    font-size: 30px;
    margin: 15px;
    padding: 0;
}

.list li {padding: 0px 20px;}

.icon { font-size: 30px; margin: 15px;
    display: flex; list-style: none;}
.icon li{padding: 0px 20px;}

.indexclock{
 text-align: center;
    font-size: 80px;

    transform: translate(0%, 90%);
}
.backend{
    text-align: center;
    font-size: 70px;
    transform: translate(0%, 10%)
}

canvas{
    transform: translate(63%, 3%)

}
.reload{
    background-color: rgb(106,78,182);
    color : white;
    width:200px;
    height:35px;
    font-size: 15px;
    border : none;
    border-radius: 5px;
    margin : 20px 0 20px 0;
    transform: translate(560%, -1580%);
}
.reload:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;
}

.controller{
    border: 1px solid rgb(106,78,182);
    width:250px;
    height:210px;
    position : absolute;
    border-radius: 10px;
    text-align: center;
    transform: translate(433.5%, -250%);
}

