<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.wheogus.myportfolio.domain.BoardDto"/>
        <typeAlias alias="UserDto" type="com.wheogus.myportfolio.domain.UserDto"/>
        <typeAlias alias="CommentDto" type="com.wheogus.myportfolio.domain.CommentDto"/>
        <typeAlias alias="SearchCondition" type="com.wheogus.myportfolio.domain.SearchCondition"/>
    </typeAliases>

</configuration>