<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.myportfolio.dao.BoardMapper">

    <delete id="deleteAll">
        delete from board
    </delete>

    <delete id="delete" parameterType="map">
        delete from board where num = #{num} and writer = #{writer}
    </delete>

    <select id="count" resultType="int">
        select count(*) from board
    </select>

    <select id="selectAll" resultType="BoardDto">
        select * from board order by num desc
    </select>

    <insert id="insert" parameterType="BoardDto">
        insert into board
            (title, writer, content)
        values
            (#{title}, #{writer}, #{content})
    </insert>

    <update id="update" parameterType="BoardDto">
        update board
        set title = #{title},
            content = #{content}
        where num = #{num}
    </update>
</mapper>