<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.myportfolio.dao.CommentMapper">

    <select id="selectAll" parameterType="int" resultType="CommentDto">
        select cno, num, comment, commenter, reg_date
        from comment
        where num = #{num}
    </select>

    <select id="select" parameterType="CommentDto" resultType="CommentDto">
        select cno, num, comment, commenter, reg_date
        from comment
        where cno = #{cno}
        and num = #{num}
    </select>

    <select id="count" parameterType="int" resultType="int">
        select count(*) from comment
        where num = #{num}
    </select>

    <insert id="insert" parameterType="CommentDto">
        insert into comment
            (num, comment, commenter, reg_date)
        values
            (#{num}, #{comment}, #{commenter}, now())
    </insert>

    <delete id="delete" parameterType="int">
        delete from comment where cno = #{cno}
    </delete>

    <update id="update" parameterType="CommentDto">
        update comment
        set comment = #{comment}
        where cno = #{cno} and num = #{num}
    </update>

    <delete id="deleteBoardComment" parameterType="int">
        delete from comment where num = #{num}
    </delete>
</mapper>