<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wheogus.myportfolio.dao.UserMapper">

    <delete id="deleteAll">
        delete from user_info
    </delete>

    <delete id="delete" parameterType="map">
        delete from user_info where id = #{id}
    </delete>

    <select id="count" resultType="int">
        select count(*) from user_info
    </select>

    <select id="selectAll" resultType="UserDto">
        select * from user_info
    </select>

    <insert id="insert" parameterType="UserDto">
        insert into user_info (id, pwd, name, email, birth, sns)
        values (#{id}, #{pwd}, #{name}, #{email}, #{birth}, #{sns});
    </insert>

    <update id="update" parameterType="UserDto">
        update user_info
        set pwd=#{pwd},
            email=#{email}
        where id = #{id}
    </update>
</mapper>


